@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;900&display=swap');

:root {
  --black: #0C0B0B;
  --white: #ffffff;
  --body: #444957;
  --muted: #424961;
  --primary: #0E2368;
  --secondary: #E23744;
  --background: #F8F8F8;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro';
}

* {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

ul,
ol {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  margin: 0;
  font-size: 18px;
  color: var(--body);
  line-height: 28px;
  font-family: 'Open Sans';
  font-weight: 400;
}

.button {
  font-size: 16px;
  color: var(--white);
  border: none;
  background: var(--secondary);
  padding: 8px 12px;
  border-radius: 100px;
  font-weight: 600;
}


// Starts header

header {
  padding-left: 100px;
  padding-right: 50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  z-index: 11111;
  overflow: hidden;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0px;

  img {
    width: auto;
    height: 83px;
  }
}

.header-cta-btn {
  border: 1px solid var(--white);
  font-family: 'Open Sans';
}

// Ends header


// Starts hero-section

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1.04fr;
  align-items: center;
  gap: 0px;
}

.hero-info {
  padding-left: 100px;

  h1 {
    font-size: 62px;
    color: var(--primary);
    line-height: 70px;
    margin-top: 0;
    margin-bottom: 26px;
    max-width: 11ch;

    span {
      color: var(--secondary);
    }
  }

  p {
    font-size: 16.44px;
  }

  button {
    font-size: 18px;
    color: var(--white);
    border: none;
    background: var(--secondary);
    padding: 14px 34px;
    border-radius: 100px;
    font-weight: 700;
    margin-top: 40px;
    line-height: 32px;
    font-family: 'Open Sans';
  }
}

.hero-image {
  position: relative;

  img {
    width: 100%;
    max-width: 100%;
  }

  .vector-img {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// Ends hero-section


// Starts aboutus-section

.aboutus-section {
  margin-top: 180px;
  margin-bottom: 158px;
  background: linear-gradient(90.07deg, rgba(30, 42, 93, 0.04) 30.91%, rgba(48, 62, 130, 0.04) 64.79%, rgba(60, 80, 157, 0.04) 91.94%);
}

.about-container {
  padding: 0px 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.about-image {
  justify-self: center;

  img {
    width: 384px;
    height: 468px;
  }
}

.about-info {
  justify-self: center;

  h2 {
    font-size: 45px;
    color: var(--primary);
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 600;
    font-family: 'Poppins';
  }

  p {
    max-width: 53ch;
    font-size: 15px;
    font-family: 'Open Sans';
  }

  button {
    margin-top: 24px;
    padding: 10px 28px;
  }
}

// Ends aboutus-section


// Starts Articles

.articles-section {
  padding: 0px 100px;

  h2 {
    font-size: 56px;
    color: var(--primary);
    margin-top: 0px;
    margin-bottom: 60px;
    font-weight: 600;
    letter-spacing: 1px;
  }
}

.articles-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 41px;
}

.a-card {
  padding: 27px;
  border: 1.37px solid;
  background: var(--white);
  border: 1.37039px solid rgba(147, 162, 211, 0.38);
  border-radius: 20.937px;

  img {
    width: 100%;
    height: auto;
    border-radius: 27px;
  }

  .card-info {
    padding: 0px 14px;

    h3 {
      font-size: 21px;
      font-weight: 700;
      color: var(--primary);
      margin-top: 34px;
      margin-bottom: 12px;
      font-family: 'Poppins';
    }

    p {
      font-size: 15px;
      font-family: 'Open Sans';
      line-height: 27px;
    }

    button {
      background: transparent;
      color: var(--muted);
      border: 1px solid var(--muted);
      margin-top: 30px;
      padding: 10px 28px;
      margin-bottom: 18px;
    }
  }
}

.pagination-btns {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 64px;

  p {
    font-family: 'Source Sans Pro';
    font-size: 22px;
  }

  .pagination-button {
    width: 28px;
    height: 29px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
  }

  .pb-active {
    border: 1px solid var(--muted);
    color: var(--muted);
    cursor: pointer;
  }

  .pb-disabled {
    border: 1px solid #AFAFAF;
    color: #AFAFAF;
    cursor: not-allowed;
    pointer-events: none;
  }
}

// Ends Articles

// Starts Footer
footer {
  margin-top: 65px;
  background-color: var(--background);
}

.footer {
  padding: 84px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  p,
  li {
    font-family: 'Source Sans Pro';
    margin-bottom: 14px;
    font-size: 15px;
    line-height: 23px;
    color: #646874;
  }

  p {
    max-width: 30ch;

  }

  li {
    cursor: pointer;
  }

  h4 {
    font-size: 18px;
    color: var(--primary);
    font-weight: 600;
    margin-bottom: 14px;
    margin-top: 0;
  }
}

.footer-logo {
  align-self: center;

  img {
    width: auto;
    height: 125px;
  }
}

.social-links {

  h4 {
    text-align: center;
  }

  p {
    margin-top: 80px;
  }
}

.social-icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: flex-end;

  li a {
    color: var(--primary);
    font-size: 22px;
  }
}

// Ends Footer


// Responsive design

@media (max-width: 1120px) {
  .hero-info h1 {
    font-size: 42px;
    line-height: 52px;

  }

  .about-container {
    gap: 30px;
  }
}

@media (max-width: 992px) {
  .articles-section {
    padding: 0px 50px;
  }

  .articles-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .nav {
    justify-content: flex-end;

    img {
      display: none;
    }
  }

  .hero-info {
    order: 2;
    padding: 0px 50px;
    text-align: center;
    margin-top: 75px;

    h1 {
      margin: 26px auto;
    }
  }

  .hero-image {
    order: 1;
  }

  .button {
    font-size: 12px;
  }

  .aboutus-section {
    margin-top: 64px;
  }

  .about-container {
    display: block;
    padding: 120px 50px;
    background-color: #F0F1F7;

    .about-image {
      display: none;
    }
  }

  .about-info {
    text-align: center;

    p {
      margin: 0 auto;
    }
  }

  footer {
    padding: 0px 50px;

    .footer {
      padding: 84px 0px;
      gap: 30px;

      .social-links {
        display: grid;
        text-align: center;
        gap: 15px;
        flex-basis: 100%;

        h4 {
          display: none;
        }

        p {
          order: 1;
          margin: 0 auto;
        }
      }

      .social-icons {
        display: flex;
        justify-content: center;
        gap: 30px;
        order: 2;
      }
    }
  }
}

@media (max-width: 768px) {
  .articles-cards {
    grid-template-columns: 1fr;
  }

  .header-cta-btn {
    font-size: 14px;
  }

  .aboutus-section {
    margin-bottom: 132px;
  }
}

// mobile responsive 375px
@media (max-width: 400px) {
  header {
    padding: 0;
    padding-right: 22px;
  }

  .header-cta-btn {
    font-size: 11px;
  }

  .hero-info h1 {
    margin: 0 auto;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 21px;
  }

  .hero-info p {
    font-size: 12px;
    line-height: 18px;
  }

  .hero-info button {
    font-size: 12.5px;
    line-height: 31px;
    padding: 4px 18px;
  }

  .about-info h2 {
    font-size: 26px;
  }

  .about-info p {
    font-size: 12px;
    line-height: 21px;
  }

  .articles-section h2 {
    font-size: 28px;
    text-align: center;
    font-family: 'Poppins';
  }

  .articles-cards {
    gap: 61px;
  }

  .articles-cards .a-card {
    border: 0.88px solid #373737;
  }

  .a-card {
    .card-info {
      padding: 0;
      text-align: center;

      h3 {
        font-size: 16px;
        line-height: 35px;
        margin-bottom: 0;
      }

      p {
        font-size: 12px;
        line-height: 22px;
        font-family: 'Source Sans Pro';
      }

      button {
        padding: 8px 36px;
        color: #424961;
        border: 2px solid #373737;
      }
    }
  }

  .pagination-btns p {
    font-size: 12px;
  }

  .pagination-btns .pagination-button {
    font-size: 12px;

  }

  .footer {
    gap: 61px;
  }

  .footer-logo {
    margin: 0 auto;
    flex-grow: 0;

    img {
      height: 75px;
    }
  }
}